* {
	background: black;
	font-family: sans-serif;
	color: white;
	font-size: 20px;
	font-family: sans-serif;
}

.gridContainer {
	display: flex;
	justify-content: center;
	align-content: center;
	display: grid;
	height: 400px;
	width: 400px;
	/* grid-template-columns: repeat(16, 1fr);
	grid-template-rows: repeat(16, 1fr); */
	gap: 0px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 5%;
}

.griditem {
	background-color: gray;
}

.griditem:hover {
	background: hotpink;
}

.permMouseOver {
	background-color: purple;
}

.mouseOverBlack {
	background-color: black;
}

.mouseOverEraser {
	background-color: gray;
}

#reset:focus {
	outline: none;
}

#slider {
	display: flex;
	justify-content: center;
	align-content: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	margin-bottom: 20px;
	width: 35vh;
}

.displaySliderValue {
	display: flex;
	justify-content: center;
	align-content: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.buttons {
	display: flex;
	flex-wrap: wrap;
	width: 400px;
	margin-top: 1%;
	text-align: center;
	align-content: center;
	justify-content: center;
	margin-right: auto;
	margin-left: auto;
}

.flex1 {
	flex-basis: auto;
}
.flex2 {
	flex-basis: auto;
}

.colors {
	background-color: black;
	color: darkgray;
	text-align: center;
	text-decoration: none !important;
	font-size: 30px;
	cursor: pointer;
	margin-top: 25px;
	z-index: 201;
	margin-left: auto;
	margin-right: auto;
	border-radius: 4px;
	border: 2px solid gray;
	justify-content: space-evenly;
}
